<section class="about">
    <h2 class="about__title">Why Static Unviersity?</h2>
    <div class="grid grid--1x2">
        
      <div class="cards">
      <div class="card">
        <svg class="icon">
          <use xlink:href=images/sprite.svg#graduated></use>
        </svg>
        <h3 class="card__title">2000+</h3>
        <p class="card__text">new students every year</p>
      </div>
      <div class="card">
        <svg class="icon">
          <use xlink:href=images/sprite.svg#sports></use>
        </svg>
        <h3 class="card__title">Sports</h3>
        <p class="card__text">Football, Basketball</p>
      </div>
      <div class="card">
        <svg class="icon">
          <use xlink:href=images/sprite.svg#key></use>
        </svg>
        <h3 class="card__title">Rent</h3>
        <p class="card__text">no rent for students</p>
      </div>
      <div class="card">
        <svg class="icon">
          <use xlink:href=images/sprite.svg#gold-medal></use>
        </svg>
        <h3 class="card__title">Prizes</h3>
        <p class="card__text">best students are rewarded</p>
      </div>
      <div class="card">
        <svg class="icon">
          <use xlink:href=images/sprite.svg#book></use>
        </svg>
        <h3 class="card__title">Library</h3>
        <p class="card__text">free books for students</p>
      </div>
      <div class="card">
        <svg class="icon">
          <use xlink:href=images/sprite.svg#bus></use>
        </svg>
        <h3 class="card__title">Bus</h3>
        <p class="card__text">free transport for students</p>
      </div>
    </div>
    <div class="about__content">
        <h4 class="content__title">Let's Study!</h4>
        <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit minus officia magni minima ipsa itaque, assumenda soluta corrupti dicta a.</p>
        <button class="btn btn--secondary about__btn">Enroll</button>
      </div>
    </div>
  </div>
  </section>