<section class="campus">
  <h2 class="campus__title">Our Campus</h2>
  <p class="campus__sub-title">The place where students can rest</p>
  <div class="grid grid--1x2">
    <p class="campus__text text--second">
      As a student sometimes you need to connect with the nature after a hard
      exman, <span class="primary">Campus</span> is the perfect place to do
      this.
      <span class="text__info">24/7 with your friends</span>
    </p>
    <picture class="activities__picture picture--first">
      <source
        type="image/webp"
        srcset="images/campus-ground.webp 1x, images/campus-ground@x2.webp 2x"
      />
      <source
        type="image/"
        srcset="images/campus-ground.jpg 1x, images/campus-ground@x2.jpg 2x"
      />
      <img
        class="campus__image"
        src="images/campus-ground.jpg"
        alt="A univerity campus full with students"
      />
    </picture>
  </div>
  <div class="grid grid--1x2">
    <p class="campus__text">
      Anything is better with friends, every week, campus will organize an
      activity for you to participate and have some fun.
      <span class="text__info">don’t miss them</span>
    </p>
    <picture class="activities__picture">
      <source
        type="image/webp"
        srcset="
          images/campus-activities.webp    1x,
          images/campus-activities@x2.webp 2x
        "
      />
      <source
        type="image/"
        srcset="
          images/campus-activities.jpg    1x,
          images/campus-activities@x2.jpg 2x
        "
      />
      <img
        class="campus__image"
        src="images/campus-activities.jpg"
        alt="A univerity campus full with students"
      />
    </picture>
  </div>
</section>
