<section class="degrees">
  <h2 class="degree__title">Obtain a degree in</h2>
  <p class="degree__subtitle">
    Degree is a calification in some category that helps you grow in your career
  </p>
  <div class="grid grid--1x2 width--1024">
    <picture>
      <h3 class="category__title">Engineering</h3>
      <source
        type="image/webp"
        srcset="images/engineer.webp 1x, images/engineer@x2.webp 2x"
      />
      <source
        type="image/"
        srcset="images/engineer.jpg 1x, images/engineer@x2.jpg 2x"
      />
      <img
        class="degree__image"
        src="images/engineer.jpg"
        alt="A univerity campus full with students"
      />
    </picture>
    <div class="degree__content">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
        <span class="degree-tag">enginer science degree</span>
      </p>
      <button class="btn btn--primary degree__button">Enroll</button>
    </div>
  </div>
  <div class="grid grid--1x2 width--1024">
    <picture class="degree__picture">
      <h3 class="category__title">Computer Science</h3>
      <source
        type="image/webp"
        srcset="
          images/computer-science.webp    1x,
          images/computer-science@x2.webp 2x
        "
      />
      <source
        type="image/"
        srcset="
          images/computer-science.jpg    1x,
          images/computer-science@x2.jpg 2x
        "
      />
      <img
        class="degree__image"
        src="images/computer-science.jpg"
        alt="A univerity campus full with students"
      />
    </picture>
    <div class="degree__content degree--first">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
        <span class="degree-tag">programming binary C++</span>
      </p>
      <button class="btn btn--primary degree__button">Enroll</button>
    </div>
  </div>
</section>
